workshop/readcsv01/build/cmake_install.cmake
workshop/readcsv01/build/CMakeCache.txt
workshop/readcsv01/build/Makefile
workshop/readcsv01/build/read_csv
workshop/readcsv01/build/CMakeFiles/cmake.check_cache
workshop/readcsv01/build/CMakeFiles/CMakeDirectoryInformation.cmake
workshop/readcsv01/build/CMakeFiles/CMakeOutput.log
workshop/readcsv01/build/CMakeFiles/Makefile.cmake
workshop/readcsv01/build/CMakeFiles/Makefile2
workshop/readcsv01/build/CMakeFiles/progress.marks
workshop/readcsv01/build/CMakeFiles/TargetDirectories.txt
workshop/readcsv01/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
workshop/readcsv01/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
workshop/readcsv01/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
workshop/readcsv01/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
workshop/readcsv01/build/CMakeFiles/3.22.1/CMakeSystem.cmake
workshop/readcsv01/build/CMakeFiles/3.22.1/CompilerIdC/a.out
workshop/readcsv01/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
workshop/readcsv01/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
workshop/readcsv01/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
workshop/readcsv01/build/CMakeFiles/read_csv.dir/build.make
workshop/readcsv01/build/CMakeFiles/read_csv.dir/cmake_clean.cmake
workshop/readcsv01/build/CMakeFiles/read_csv.dir/compiler_depend.internal
workshop/readcsv01/build/CMakeFiles/read_csv.dir/compiler_depend.make
workshop/readcsv01/build/CMakeFiles/read_csv.dir/compiler_depend.ts
workshop/readcsv01/build/CMakeFiles/read_csv.dir/depend.make
workshop/readcsv01/build/CMakeFiles/read_csv.dir/DependInfo.cmake
workshop/readcsv01/build/CMakeFiles/read_csv.dir/flags.make
workshop/readcsv01/build/CMakeFiles/read_csv.dir/link.txt
workshop/readcsv01/build/CMakeFiles/read_csv.dir/main.cpp.o
workshop/readcsv01/build/CMakeFiles/read_csv.dir/main.cpp.o.d
workshop/readcsv01/build/CMakeFiles/read_csv.dir/progress.make
